.form__group {
  margin: 4rem 0;
  position: relative;
  padding-left: 2.5rem;
  max-width: 450px;
  & > label, & > legend {
    font-family: var(--headingFamily);
    font-weight: 900;
    font-size: calc(var(--multiplier) * 12);
    display: block;
    margin-bottom: 1rem;
  }
  & > .number-indicator {
    position: absolute;
    left: 0;
    top: 0;
    /* transform: translateX(calc(-100% - .1em)); */
  }
  &:disabled {
    opacity: .8
  }
  &.full-width {
    max-width: none;
    width: 100%;
  }
}

.form__input {
  width: 100%;
  display: block;
  background: white;
  border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  padding: .75em .5em .75em 1.5em;
  &:focus {
    outline: dashed 2px var(--purpleL2);
    outline-offset: .2em;
    background: var(--greyL3);
  }
  &:disabled {
    background: var(--greyL2)
  }
  &.alert {
    box-shadow: inset 0px 2px 2px rgba(155, 63, 31, 0.25), inset 0px 0px 1px rgba(155, 63, 31, 0.25);
  }
}

.form__input-validation {
  font-size: calc(var(--multiplier) * 7);
  padding: 0 .5rem 0 1.5rem;
}

.form__input-error {
  color: var(--alertL1)
}

.form__input-info {
  text-align: right;
  color: var(--greyD1);
  & b {
    color: var(--greyD2);
  }
  &.alert > b {
    color: var(--alertL1)
  }
}

textarea.form__input {
  min-height: 200px;
  border-radius: 16px;
}

.form__group_inline-btn button {
  margin-top: .75rem;
}

@media (--noteUp) {
  .form__group_inline-btn {
    position: relative;
    & .button {
      margin-top: 0;
      position: absolute;
      right: .35rem;
      bottom: .35rem;
    }
    &.small {
      max-width: 25em;
      margin: 0 auto 0;
      font-size: calc(var(--multiplier) * 8);
      & .form__input, & .button {
        font-size: inherit;
      }
    }
  }
}