/* See commonComponents -> .sidebar */

.menu {
  right: 0;
  transform: translateX(120%);
  display: flex;
  flex-direction: column;
  & .sidebar__header svg {
    transform: rotate(180deg)
  }
  & .sidebar__content {
    flex: 1;
  }
}

.menu__nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > div:first-of-type {
    flex: 1;
  }
}

.menu__link {
  display: flex;
  align-items: flex-start;
  color: var(--purple);
  font-weight: 400;
  font-size: calc(var(--multiplier) * 7);
  margin-bottom: 1.5em;
  padding: 0;
  max-width: none;
  & svg {
    vertical-align: middle;
    flex: 0 0 1.75em;
    opacity: .7;
    margin-right: .75em;
    fill: var(--purpleL1);
  }
}

.menu__social-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto 1rem;
  & > a {
    flex: 0 1 35px;
    margin: 0 .5em;
  }
  & svg {
    width: 100%;
    fill: var(--grey)
  }
}

.menu__cta {
  width: 100%;
  margin: 0 0 2rem;
}